/*导航分类区域*/
nav{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
nav>p{
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 4%;
    color: white;
}
nav>span{
    margin: 0 1%;
}