/*右侧领劵中心位置*/
/*相对于container定位*/
.small_container{
    position: absolute;
    width: 40px;
    height: 180px;
    right: 0;
    top: 150px;
}
.showContainer{
    position: absolute;
    right: 40px;
    top: 190px;
    padding: 10px 0 10px 10px;
    width: 100px;
    height: 100px;
    background-color: #ff6600;
    opacity: 0;
}
.small_container>img{
    width: 40px;
    height: 180px;
}